.layout-style {
  background-color: #ffffff;
}

.wrapped-component-style {
  height: 100vh;
  overflow: auto;
  padding: 1.3rem;
  box-sizing: border-box;
}

.wrapped-component-style::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.wrapped-component-style::-webkit-scrollbar-thumb {
  background-color: transparent;
}
