@import '../../../assets/stylesheets/variables';

ul {
  list-style-type: none;

  a {
    color: $white;
  }
}

.i18-icon {
  width: 32px;
  flex-shrink: 0;
}

.languageDropdown {
  display: flex;
  justify-content: flex-end;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item .icon {
  opacity: 0;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background-color: #000000 !important;

  .icon {
    opacity: 100;
  }
}
