//Card Style
.card-style {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.draft-card-border {
  border: 1px solid #9c55ff;
}
.published-card-border {
  border: 1px solid #a0eb00;
}

//Card Title
.project-title {
  color: #252525;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 2.1rem */
}

//Card Text
.card-text {
  color: #939393;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.05rem */
}

//new project text
.new-project-text-style {
  color: #8c8c8c;
  font-family: Poppins;
  font-weight: 500;
}

//project list
.project-list {
  display: block;
}
