@import '../../../assets/stylesheets/variables';

.demo-logo {
  color: #fff;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 600;
}

.header {
  background-color: $nav-back;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1.2rem;
}

.i18-button {
  margin: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  padding-top: 20px;
  margin: 0px 10px;
}

.image-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 15px;
  object-fit: cover;
  object-position: center right;
  border: 2px solid $white;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-popover-content,
.ant-popover-inner {
  border-radius: 4px;
  background-color: #242424 !important;
}
