@import '../../../assets/stylesheets/variables';

.menu-style {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #35129c 0%, #6f1fde 100%);
  padding-top: 1.4rem;
}

.ant-menu-item {
  color: $white;
}

.icon-style {
  margin-top: 0.7rem;
}

.ant-menu-light,
.ant-menu-item-selected {
  background-color: #280e71 !important;
  color: $white !important;
}

.ant-menu-item:hover,
.ant-menu-item::before,
.ant-menu-item::after {
  background: #280e71 !important;
  color: $white !important;
}
