.sub-header-style {
  display: 'block';
  justify-content: 'space-between';
  margin-bottom: 1rem;
}

//create button
.create-button-style {
  border-radius: 0.3125rem;
  background: #35129c;
}

.button-container {
  .ant-btn-primary {
    background-color: #9c55ff;
  }
}

//List Title
.list-title {
  color: #252525;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0rem 1rem 0rem;
}
